// @import "compass/css3";
$cubeWidth: 200px;
$cubeHeight: 200px;
$cubeDepth: 200px;
$cubeWidth1: 430px;
$cubeHeight1: 430px;
$cubeDepth1: 430px;

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --cubeWidth: 240px;
  --cubeHeight: 240px;
  --white: white;
  --black: black;
  --subcolor-orange: #cf9c63;
  --subcolor-balck: #232222;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
  position: relative;
}
ul {
  list-style: none;
}
/* container  */
.container {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 767px) {
  .container {
    max-width: 540px;
  }
}

/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
a {
  color: white;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
// key frames
@keyframes headborder {
  from {
    width: calc(100% + 14px);
  }
  to {
    width: 100%;
  }
}
// strat header
header {
  .loadGRip {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
  }
  // background-color: rgba(12, 49, 55, 0.8);
  position: fixed;
  z-index: 2000;
  width: 100%;
  transition: 0.6s;
  height: 100px;
  box-shadow: 0px 0px 9px 4px rgb(0 0 0 / 80%);
  .headcontain {
    display: flex;
    height: 100%;
    .image {
      max-width: 100px;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .navForMob {
    top: 100vh;
    &.hide {
      animation: tobottom 0.7s ease-in-out 1.75s;
      .top {
        .logo {
          opacity: 1;
          animation: opaone 0.5s ease-in-out 0.1s;
        }
        .x {
          opacity: 1;
          animation: opaone 0.5s ease-in-out 0.25s;
        }
      }
      .middle {
        ul {
          a {
            &:first-child {
              opacity: 1;
              animation: opaone 0.6s ease-in-out 0.4s;
            }
            &:nth-child(2) {
              opacity: 1;
              animation: opaone 0.6s ease-in-out 0.55s;
            }
            &:nth-child(3) {
              opacity: 1;
              animation: opaone 0.6s ease-in-out 0.7s;
            }
            &:nth-child(4) {
              opacity: 1;
              animation: opaone 0.6s ease-in-out 0.85s;
            }
            &:nth-child(5) {
              opacity: 1;
              animation: opaone 0.6s ease-in-out 1s;
            }
            &:nth-child(6) {
              opacity: 1;
              animation: opaone 0.6s ease-in-out 1.15s;
            }
          }
        }
      }

      .bottom {
        i {
          opacity: 1;
          animation: opaone 0.5s ease-in-out 1.25s;
        }
      }
    }
    &.visible {
      animation: totop 0.7s ease-in-out 0s;

      .top {
        .logo {
          opacity: 0;
          animation: opazero 0.5s ease-in-out 0.5s;
        }
        .x {
          opacity: 0;
          animation: opazero 0.5s ease-in-out 0.65s;
        }
      }
      .middle {
        ul {
          a {
            opacity: 0;
            &:first-child {
              animation: opazero 0.6s ease-in-out 0.75s;
            }
            &:nth-child(2) {
              animation: opazero 0.6s ease-in-out 0.85s;
            }
            &:nth-child(3) {
              animation: opazero 0.6s ease-in-out 0.95s;
            }
            &:nth-child(4) {
              animation: opazero 0.6s ease-in-out 1.05s;
            }
            &:nth-child(5) {
              opacity: 0;
              animation: opazero 0.6s ease-in-out 1.15s;
            }
            &:nth-child(6) {
              opacity: 0;
              animation: opazero 0.6s ease-in-out 1.25s;
            }
          }
        }
      }
      .bottom {
        i {
          opacity: 0;
          animation: opazero 0.5s ease-in-out 1.35s;
        }
      }
    }
    position: absolute;
    z-index: 500;

    width: 100%;
    height: 100vh;
    // background-color: #001124;
    // background-color: rgba(0, 5, 10, 0.8);
    // color: #73dada;
    left: 0;
    display: flex;
    transition: 0.4s ease-in-out;
    flex-direction: column;
    .top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .logo {
        width: 120px;
        height: 120px;

        img {
          max-width: 100%;
          max-height: 100%;
          margin-left: 6px;
        }
      }
      .x {
        font-size: 25px;
        font-weight: 300;
        color: black;
        margin-right: 27px;
        width: 20px;
        height: 30px;
      }
    }
    .middle {
      height: calc(100vh - 150px);
      display: flex;
      justify-content: center;
      align-items: center;
      ul {
        text-align: center;
        a {
          li {
            font-size: 23px;
            margin-bottom: 20px;
          }
        }
      }
    }
    .bottom {
      margin-right: 12px;
      color: #fff;
      height: 30px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      justify-content: end;
      margin-bottom: 5px;
      align-items: center;
      gap: 10px;
      i {
        font-size: 18px;
      }
    }
  }

  @keyframes opazero {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tobottom {
    0% {
      top: 0;
    }
    100% {
      top: 100vh;
    }
  }
  @keyframes totop {
    0% {
      top: 100vh;
    }
    100% {
      top: 0;
    }
  }
  @keyframes opaone {
    100% {
      opacity: 0;
    }
    0% {
      opacity: 1;
    }
  }
}

.light {
  background-color: #001124;
}

.star1 {
  animation: 3s linear 1s infinite alternate twinkle;
  background-color: #fff;
}

.star2 {
  animation: 4s linear 0s infinite alternate twinkle;
  background-color: #fff;
}

.star3 {
  animation: 3.5s linear 0.5s infinite alternate twinkle;
  background-color: #fff;
  background-color: #fff;
}

.star4 {
  animation: 1.25s linear 1.5s infinite alternate twinkle;
  background-color: #fff;
}

.star5 {
  animation: 4s linear 2s infinite alternate twinkle;
  background-color: #c36f0e;
}

.star6 {
  animation: 2.5s linear 1s infinite alternate twinkle;
  background-color: rgba(255, 255, 0, 0.95);
}

@keyframes twinkle {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.headcontain {
  position: relative;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  .links {
    ul {
      display: flex;
      gap: 5px;
    }
  }
  .navfordesk {
    ul {
      margin: 0;
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 11px 14px;
        position: relative;
        transition: 0.3s ease-in-out;
        li {
          transition: 0.3s ease-in-out;
          font-size: 14px;
          font-weight: 600;
        }
        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          transition: 0.3s ease-in-out;
          border: 1px solid #00ddff;
          opacity: 0;
          border-radius: 6px;
        }
        &:hover {
          &::before {
            opacity: 1;
          }
        }
      }

      @media (max-width: 991px) {
        a {
          padding: 11px;
        }
      }
    }
  }
  @media (max-width: 767px) {
    .navfordesk {
      display: none;
    }
  }
  .burger {
    display: none;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px;
    margin: 0px 15px 0 0;
    z-index: 2;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;

    .bar {
      transition: 0.3s ease-in-out;
      display: block;
      width: 30px;
      height: 2px;
      background-color: #fff;
    }
    .bar:nth-child(2) {
      margin: 6px 0;
    }
  }
  @media (max-width: 767px) {
    .burger {
      display: block;
    }
  }
}
.menu-active {
  .burger {
    .bar:first-child {
      transform: translateY(8px) rotate(45deg);
    }
    .bar:nth-child(2) {
      transform: scale(0);
    }
    .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }
}
// section *****************
section {
  position: relative;
}
section {
  &.gray {
    background-color: #232222;
  }
  &.graaay {
    background-color: #3d3d3d;
  }
  padding: 70px 0 120px;
  color: #fff;
  width: 100%;
  .mainhead {
    margin-bottom: 20px;
    padding-bottom: 80px;
    text-align: center;
    h2 {
      display: inline-block;
      position: relative;
      color: #fff;
      letter-spacing: 1.5px;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 40px;
      font-family: "Caveat", cursive;
    }
  }
}

// font-family: 'Caveat', cursive;
// font-family: 'Pacifico', cursive;
// font-family: 'Satisfy', cursive;

.landing {
  display: flex;
  align-items: center;
  justify-content: center;
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background-image: url(../image/fotor_2023-1-20_1_2_13.png);

  .image {
    width: 400px;
    position: relative;
    max-width: 100%;
    z-index: 90;
    overflow: hidden;
    padding: 20px 20px 0px 20px;
    border: 1px solid #001124;
    background-image: url(../image/pexels-rodrigo-souza-2531709.jpg);
    -webkit-box-shadow: 2px 2px #001124;
    box-shadow: 0px 0px 10px 6px #001124;
    border-radius: 6px;
    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-color: rgba(0, 0, 0);
      border-radius: 6px;
    }

    border-radius: 6px;
    img {
      max-width: 100%;
      border-radius: 6px;
      position: relative;
      z-index: 100;
    }
  }
  .text {
    display: flex;
    flex-direction: column;
    span {
      &:first-child {
        font-size: 25px;
        color: #ffffff;

        margin-bottom: 8px;
        font-family: acumin-pro;
        font-weight: 500;
        letter-spacing: 2px;
        margin-left: 10px;
      }
      &:nth-child(2) {
        .ehap {
          font-size: 70px;
          font-weight: 700;
          color: #ffffff;
          font-family: acumin-pro;
          margin-bottom: 8px;
          letter-spacing: 3px;
          margin-left: 0;
        }
        font-size: 70px;
        font-weight: 700;
        color: #ffffff;
        font-family: acumin-pro;
        margin-bottom: 8px;
        letter-spacing: 3px;
      }
      &:nth-child(3) {
        font-size: 20px;
        color: #ffffff;
        margin-bottom: 8px;
        font-family: acumin-pro;
        letter-spacing: 2px;
        margin-top: 5px;
      }
      .graphic {
        font-size: 21px;
        font-weight: 500;
        margin-bottom: 8px;
        font-family: acumin-pro;
        letter-spacing: 2px;
        margin-top: 5px;
        display: inline-block;
        color: #ffffff;
      }
    }
    a {
      position: relative;
      margin-left: 20px;
      margin-top: 30px;
      font-size: 20px;
      width: fit-content;
      z-index: 90;
      padding: 7px 15px;
      overflow: hidden;
      background-color: #999999;
      color: black;
      text-transform: capitalize;
      border-radius: 6px;
      p {
        color: #001124;
        font-size: 25px;

        font-family: acumin-pro;
        font-weight: 500;

        letter-spacing: 2px;

        z-index: 100;
        position: relative;
        transition: 0.3s ease-in-out;
      }
      &:before {
        height: 100%;
        top: 0%;
        left: -100%;
        width: 100%;
        transition: 0.3s ease-in-out;
        content: "";
        position: absolute;
        background-color: #1a1a1a;
        z-index: 91;
      }
      &:hover {
        p {
          color: #00c3ff;
        }
        &:before {
          left: 0;
        }
      }
    }
    width: fit-content;
  }
}
@media (max-width: 991px) {
  .landing {
    .image {
      width: 320px;
    }
    .text {
      span {
        &:nth-child(2) {
          font-size: 57px;
          .ehap {
            font-size: 57px;
          }
        }
      }
    }
  }
}
@media (max-width: 767px) {
  .landing {
    .content {
      flex-direction: column-reverse;
      gap: 20px;
    }

    .image {
      margin-top: 90px;
      width: 250px;
      max-width: 100%;
      margin-bottom: 20px;
      aspect-ratio: 0.8439;
      max-height: 37vh;
      padding: 15px 15px 0 15px;
      display: flex;
      justify-content: center;
    }
    .text {
      align-items: center;
      text-align: center;

      span {
        &:nth-child(2) {
          font-size: 57px;
          .ehap {
            font-size: 57px;
          }
        }
      }
      a {
        margin-top: 15px;

        margin-left: 0;
      }
    }
  }
}

@media (max-width: 409px) {
  .landing {
    // align-items: end;
    // .content {
    //   margin-bottom: 30px;
    // }
    .text {
      span {
        &:nth-child(2) {
          font-size: 40px;
          .ehap {
            font-size: 40px;
          }
        }
      }
    }
  }
}
@media (max-width: 315px) {
  .landing {
    .text {
      span {
        &:nth-child(2) {
          font-size: 30px;
          .ehap {
            font-size: 30px;
          }
        }

        &:nth-child(3) {
          font-size: 16px;
          color: #ffffff;
          margin-bottom: 8px;
          font-family: acumin-pro;
          letter-spacing: 2px;
          margin-top: 5px;
        }
        .graphic {
          font-size: 20px;
          font-weight: 500;
          margin-bottom: 8px;
          font-family: acumin-pro;
          letter-spacing: 2px;
          margin-top: 5px;
          display: inline-block;
          color: #ffffff;
        }
      }
    }
  }
}

$n: 7; // 流星數量
$s: 300; // star數量

$shadow: ();

@for $i from 1 through $s {
  $x: random(1920);
  $y: random(1000);
  $shadow: $shadow, ($x + px $y + px #fff) !global;
}

@for $i from 1 through $n {
  $v: random(90) + 9; // left
  $h: random(250) + 50; // top
  $d: random(70) / 10 + 3; // 秒數
  .meteor-#{$i} {
    position: absolute;
    top: $h + px;
    left: $v * 1%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor $d + s linear infinite;
    &:before {
      content: "";
      position: absolute;
      width: 4px;
      height: 5px;
      border-radius: 50%;
      margin-top: -2px;
      background: rgba(#fff, 0.7);
      box-shadow: 0 0 15px 3px #fff;
    }
  }
}

@keyframes meteor {
  0% {
    opacity: 1;
    margin-top: -300px;
    margin-right: -300px;
  }
  12% {
    opacity: 0;
  }
  15% {
    margin-top: 300px;
    margin-left: -600px;
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.about {
  .content {
    display: flex;

    justify-content: left;
    gap: 50px;

    .image {
      width: 400px;
      aspect-ratio: 0.7498262682418346;
      position: relative;
      max-width: 100%;

      .gerd {
        opacity: 1;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(black, #c5b1af);
        position: absolute;
        top: -40px;
        left: -30px;
        z-index: 0;
        border-radius: 7px;
        // border: 2px solid black;
      }
      img {
        border-radius: 7px;
        position: relative;
        z-index: 3;
        max-width: 100%;
        max-height: 100%;
      }
    }
    .text {
      display: flex;
      gap: 20px;
      width: calc(100% - 400px);
      flex-direction: column;
      justify-content: center;
      .sentence {
        display: flex;
        gap: 7px;
        flex-direction: column;
        span {
          &:first-child {
            font-family: acumin-pro;
            letter-spacing: 1px;
            font-size: 29px;
            font-weight: 600;
            color: #ffffff;
          }
          &:nth-child(2) {
            font-size: 22px;
            letter-spacing: 0.5px;
          }
          &:nth-child(3) {
            font-size: 17px;
            letter-spacing: 0.4px;
            line-height: 1.4;
            p {
              margin-top: 7px;
            }
          }
        }
      }
    }
    .infor {
      // border: 2px dotted #c5b1af;
      position: relative;
      .topLine {
        width: calc(100% - 30px);
        height: 1px;
        background-color: #c5b1af;
        position: absolute;
        top: 0;
        left: 15px;
        span {
          &:first-child {
            left: -15px;
          }
          &:nth-child(2) {
            right: -15px;
          }
          position: absolute;
          top: 50%;
          transform: translatey(-50%) rotate(45deg);
          width: 15px;
          height: 15px;
          background-color: black;
          &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 7px;
            height: 7px;
            background-color: #c5b1af;
          }
        }
      }
      .rightLine {
        position: absolute;
      }
      .leftLine {
        position: absolute;
      }
      .bottomLine {
        width: calc(100% - 30px);
        height: 1px;
        background-color: #c5b1af;
        position: absolute;
        bottom: 0;
        left: 15px;
        span {
          &:first-child {
            left: -15px;
          }
          &:nth-child(2) {
            right: -15px;
          }
          position: absolute;
          top: 50%;
          transform: translatey(-50%) rotate(45deg);
          width: 15px;
          height: 15px;
          background-color: black;
          &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 7px;
            height: 7px;
            background-color: #c5b1af;
          }
        }
      }
      display: flex;
      padding: 30px 20px;
      .left {
        width: 50%;
        // display: flex;
      }
      .cat {
        display: flex;
        gap: 9px;
        text-align: center;
        line-height: 1.8;
        font-size: 14px;
        .main {
          font-size: 15px;
          font-weight: 600;
          letter-spacing: 0.6px;
        }
      }
      .right {
        width: 50%;
        // display: flex;
      }
    }
  }

  @media (max-width: 991px) {
    .content {
      flex-direction: column;
      align-items: center;
      gap: 30px !important;
      .text {
        width: 100%;
        text-align: center;

        .sentence {
          span {
            &:first-child {
              margin-bottom: 7px;
            }
          }
        }
      }
      .infor {
        .cat {
          justify-content: center;
          text-align: center;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .content {
    .image {
      width: 300px !important;
    }
  }
}
@media (max-width: 570px) {
  .content {
    .image {
      .gerd {
        display: none;
      }
    }
    .text {
      .sentence {
        span {
          &:nth-child(2) {
            font-size: 20px !important;
          }
          &:nth-child(3) {
            font-size: 15px !important;
          }
        }
      }
    }
  }
}

@media (max-width: 540px) {
  .content {
    .infor {
      flex-direction: column;
      .left {
        width: 100% !important;
      }
      .right {
        width: 100% !important;
      }
    }
  }
}

.services {
  background-image: url(../image/astronaut-lost-in-space_3840x2160_xtrafondos.com-01.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .servForMopile {
    display: none;
    .content {
      display: flex;
      justify-content: center;
      gap: 10px;
      // flex-direction: column;
      flex-wrap: wrap;
      .box {
        width: calc(50% - 20px);
        border-radius: 6px;
        position: relative;
        padding: 15px;
        background-color: #001124;
        overflow: hidden;
        transition: 0.5s ease-in-out;
        .title {
          width: 100%;
          height: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-top: 1.4px solid white;
          margin-top: 9px;
          padding-top: 15px;
          text-align: center;
          z-index: 3;
          font-size: 16px;
          font-weight: 600;
          -webkit-transition: 0.5s ease-in-out;
          transition: 0.5s ease-in-out;
        }
        .childImage {
          border-radius: 6px;
          overflow: hidden;
          img {
            border-radius: 6px;

            max-width: 100%;
            max-height: 100%;
          }
          transition: 0.5s ease-in-out;
        }
      }
    }
  }
  .servForComp {
    display: block;
    position: relative;
    .maintitles {
      position: absolute;
      z-index: 5;
      display: flex;
      height: 100%;
      width: 100%;
      top: 0;
      text-align: center;
      justify-content: space-between;
      > div {
        display: flex;
        width: 200px;
        flex-direction: column;
        transition: 0.5s;
        gap: 20px;
        justify-content: center;
        align-items: center;
        transform: translatex(calc(-50%));

        .title {
          background-color: #000;
          font-size: 17px;
          border: 1px solid #00ddff;
          border-radius: 6px;
          padding: 10px 18px;
          cursor: pointer;
          transition: 0.5s;

          &.logo {
            width: 135px;
            position: relative;
            height: 42px;
            &::before {
              transition: 0.5s;
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              opacity: 0;
              background-image: url(../image/logoDesign\ cutted.png);
              background-position: center center;
              background-repeat: no-repeat;
              background-size: cover;
              content: "";
            }
          }
          &.social {
            width: 196px;
            position: relative;

            height: 42px;
            &::before {
              transition: 0.5s;
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              opacity: 0;
              background-image: url(../image/IMG-20220527-WA0102-01.jpeg);
              background-position: center center;
              background-repeat: no-repeat;
              background-size: cover;
              content: "";
            }
          }
          &.Illustrations {
            position: relative;

            width: 132px;
            height: 42px;
            &::before {
              transition: 0.5s;
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              opacity: 0;
              background-image: url(../image/night\ crop.png);
              background-position: center center;
              background-repeat: no-repeat;
              background-size: cover;
              content: "";
            }
          }
          &.decore {
            position: relative;

            width: 95px;
            height: 42px;
            &::before {
              transition: 0.5s;
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              opacity: 0;
              background-image: url(../image/fotor_2023-1-23_19_26_3.png);
              background-position: center center;
              background-repeat: no-repeat;
              background-size: cover;
              content: "";
            }
          }
          &.branding {
            position: relative;

            width: 110px;
            height: 42px;

            &::before {
              transition: 0.5s;
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              opacity: 0;
              background-image: url(../image/WhatsApp\ Image\ 2021-10-23\ at\ 1.00.57\ AM.jpeg);
              background-position: center center;
              background-repeat: no-repeat;
              background-size: cover;
              content: "";
            }
          }
          &.courses {
            position: relative;

            width: 102px;
            height: 42px;
            &::before {
              transition: 0.5s;
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              opacity: 0;
              background-image: url(../image/fotor_2023-1-23_19_27_28.png);
              background-position: center center;
              background-repeat: no-repeat;
              background-size: cover;
              content: "";
            }
          }
          &:hover {
            width: 100%;
            height: 200px;

            &.logo {
              &::before {
                opacity: 0.5;
              }
            }
            &.social {
              &::before {
                opacity: 0.5;
              }
            }
            &.Illustrations {
              &::before {
                opacity: 0.5;
              }
            }
            &.decore {
              &::before {
                opacity: 0.5;
              }
            }
            &.branding {
              &::before {
                opacity: 0.5;
              }
            }
            &.courses {
              &::before {
                opacity: 0.5;
              }
            }
          }
        }
      }

      @media (max-width: 1200px) {
        .right {
          transform: translatex(calc(-71px));
        }
        .left {
          transform: translatex(calc(71px));
        }
      }
      @media (min-width: 1200px) {
        .right {
          transform: translatex(calc(-197px));
        }
        .left {
          transform: translatex(calc(197px));
        }
      }
      // &:hover {
      //   ~ .content .space3d ._3dbox {
      //     transform: rotateX(45deg) rotateY(-45deg) !important;
      //   }
      // }
    }
    .content {
      overflow: hidden;

      .title {
        display: none;
      }
      .counter {
        display: none;
        visibility: visible;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 50px;
        top: 50px;
        border-radius: 50%;
        aspect-ratio: 1;
        width: 35px;
        height: 35px;
        z-index: 5;
        box-shadow: 0px 0px 20px 4px black;
        background-color: #000;
        border: 2px solid #00ddff;
        &.anima {
          animation: opacit 5.25s ease-in-out 0s infinite,
            topandD 3s ease-in-out 0s infinite;
        }

        #seconds {
          opacity: 1;
          padding: 6px;
          font-size: 20px;
          position: relative;
          top: 0;
          left: 0;
        }
      }
      @keyframes topandD {
        0%,
        100% {
          top: 50px;
        }
        50% {
          top: 35px;
        }
      }
      @keyframes opacit {
        0% {
          opacity: 1;
        }
        100% {
          opacity: 0.3;
        }
      }

      &.vvv {
        .title {
          display: block;
          > div {
            position: absolute;
            opacity: 0;
            transition: 0.6s ease-in-out;
            top: 50px;
            color: #fff;
            background-color: rgba(0, 0, 0, 0.55);
            border: 1px solid #00ddff;
            border-radius: 8px;
            padding: 6px 17px;
            font-size: 28px;
            // font-family: acumin-pro;
            font-family: "Dancing Script", cursive;
            font-weight: 700;
            display: block;
            z-index: 10;
            left: 50%;
            transform: translatex(-50%);
          }
        }
        .space3d {
          perspective: 1000px;
          width: $cubeWidth1;
          height: $cubeHeight1;
          text-align: center;
          transition: 1.3s;
          display: inline-block;
        }
        ._3dbox {
          display: inline-block;
          transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
          text-align: center;
          position: relative;
          width: 100%;
          height: 100%;
          transform-style: preserve-3d;
          transform: rotateX(45deg) rotatey(-45deg);
        }
        ._3dface {
          overflow: hidden;
          position: absolute;

          border: 1px solid #888;
          background: #fff;
          box-shadow: inset 0 0 60px rgba(0, 0, 0, 0.1),
            0 0 50px rgba(0, 0, 0, 0.3);
          color: #333;
          line-height: $cubeWidth1;
          opacity: 1;
          transition: 1.4s;
        }
        ._3dface--front {
          width: $cubeWidth1;
          height: $cubeHeight1;
          transform: translate3d(0, 0, $cubeDepth1 / 2);
          transition: 1.4s;
        }

        ._3dface--top {
          width: $cubeWidth1;
          height: $cubeDepth1;
          transition: 1.4s;

          transform: rotateX(90deg) translate3d(0, 0, $cubeHeight1 / 2);
        }

        ._3dface--bottom {
          width: $cubeWidth1;
          transition: 1.4s;

          height: $cubeDepth1;
          transform: rotateX(-90deg) translate3d(0, 0, $cubeHeight1 / 2);
        }

        ._3dface--left {
          transition: 1.4s;

          width: $cubeDepth1;
          height: $cubeHeight1;
          left: 50%;
          margin-left: -$cubeDepth1 / 2;
          transform: rotateY(-90deg) translate3d(0, 0, $cubeWidth1 / 2);
        }

        ._3dface--right {
          transition: 1.4s;

          width: $cubeDepth1;
          height: $cubeHeight1;
          left: 50%;
          margin-left: -$cubeDepth1 / 2;
          transform: rotateY(90deg) translate3d(0, 0, $cubeWidth1 / 2);
        }

        ._3dface--back {
          transition: 1.4s;

          width: $cubeWidth1;
          height: $cubeHeight1;
          transform: rotateY(180deg) translate3d(0, 0, $cubeDepth1 / 2);
        }
        // Apply backgrounds

        ._3dface--front {
          background-image: url(../image/logoDesign\ cutted.png);
          background-size: 100%;
        }

        ._3dface--left {
          background-image: url(../image/IMG-20220527-WA0102-01.jpeg);
          background-size: auto 100%;
        }

        ._3dface--right {
          background-image: url(../image/night\ crop.png);
          background-size: auto 100%;
        }

        ._3dface--top {
          background-image: url(../image/fotor_2023-1-23_19_26_3.png);
          background-size: auto 100%;
        }

        ._3dface--bottom {
          background-image: url(../image/WhatsApp\ Image\ 2021-10-23\ at\ 1.00.57\ AM.jpeg);
          background-size: auto 100%;
        }

        ._3dface--back {
          background-image: url(../image/fotor_2023-1-23_19_27_28.png);
          background-size: auto 100%;
        }
      }

      .space3d {
        perspective: 1000px;
        width: $cubeWidth;
        height: $cubeHeight;
        transition: 1.4s;
        text-align: center;
        display: inline-block;
      }
      ._3dbox {
        display: inline-block;
        transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);

        text-align: center;
        position: relative;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        &.deg45 {
          transform: rotateX(45deg) rotatey(-35deg) !important;
        }
        &.deg45_2 {
          transform: rotateX(45deg) rotatey(125deg) !important;
        }
        &.deg45_3 {
          transform: rotateX(45deg) rotatey(-55deg) !important;
        }
        &.deg45_4 {
          transform: rotateX(-45deg) rotatey(45deg) !important;
        }
        &.deg45_5 {
          transform: rotateX(135deg) rotatey(-45deg) !important;
        }
        &.deg45_6 {
          transform: rotateX(25deg) rotatey(-145deg) !important;
        }

        &.deg1 {
          transform: rotateX(0deg) rotateY(0deg) !important;
        }
        &.deg2 {
          transform: rotateX(0deg) rotateY(90deg) !important;
        }
        &.deg3 {
          transform: rotateX(0deg) rotateY(-90deg) !important;
        }
        &.deg4 {
          transform: rotateX(-90deg) rotateY(0deg) !important;
        }
        &.deg5 {
          transform: rotateX(90deg) rotateY(0deg) !important;
        }
        &.deg6 {
          transform: rotateX(0deg) rotateY(-180deg) !important;
        }
      }

      // @keyframes threed {
      //   0%,
      //   100% {
      //     transform: rotateX(0deg) rotatey(0deg);
      //   }
      //   16.66% {
      //     transform: rotateY(90deg);
      //   }
      //   33.33% {
      //     transform: rotateY(-90deg);
      //   }
      //   50% {
      //     transform: rotateX(90deg);
      //   }
      //   66.66666% {
      //     transform: rotateX(-90deg);
      //   }
      //   83.4% {
      //     transform: rotateY(180deg);
      //   }
      // }
      ._3dface {
        transition: 1.4s;

        overflow: hidden;
        position: absolute;

        border: 1px solid #888;
        background: #fff;
        box-shadow: inset 0 0 60px rgba(0, 0, 0, 0.1),
          0 0 50px rgba(0, 0, 0, 0.3);
        color: #333;
        line-height: $cubeWidth;
        opacity: 1;
      }
      ._3dface--front {
        transition: 1.4s;

        width: $cubeWidth;
        height: $cubeHeight;
        transform: translate3d(0, 0, $cubeDepth / 2);
      }

      ._3dface--top {
        transition: 1.4s;

        width: $cubeWidth;
        height: $cubeDepth;
        transform: rotateX(90deg) translate3d(0, 0, $cubeHeight / 2);
      }

      ._3dface--bottom {
        transition: 1.4s;

        width: $cubeWidth;
        height: $cubeDepth;
        transform: rotateX(-90deg) translate3d(0, 0, $cubeHeight / 2);
      }

      ._3dface--left {
        transition: 1.4s;

        width: $cubeDepth;
        height: $cubeHeight;
        left: 50%;
        margin-left: -$cubeDepth / 2;
        transform: rotateY(-90deg) translate3d(0, 0, $cubeWidth / 2);
      }

      ._3dface--right {
        transition: 1.4s;

        width: $cubeDepth;
        height: $cubeHeight;
        left: 50%;
        margin-left: -$cubeDepth / 2;
        transform: rotateY(90deg) translate3d(0, 0, $cubeWidth / 2);
      }

      ._3dface--back {
        transition: 1.4s;

        width: $cubeWidth;
        height: $cubeHeight;
        transform: rotateY(180deg) translate3d(0, 0, $cubeDepth / 2);
      }
      // Apply backgrounds

      ._3dface--front {
        background-image: url(../image/logoDesign\ cutted.png);
        background-size: 100%;
      }

      ._3dface--left {
        background-image: url(../image/IMG-20220527-WA0102-01.jpeg);
        background-size: auto 100%;
      }

      ._3dface--right {
        background-image: url(../image/night\ crop.png);
        background-size: auto 100%;
      }

      ._3dface--top {
        background-image: url(../image/fotor_2023-1-23_19_26_3.png);
        background-size: auto 100%;
      }

      ._3dface--bottom {
        background-image: url(../image/WhatsApp\ Image\ 2021-10-23\ at\ 1.00.57\ AM.jpeg);
        background-size: auto 100%;
      }

      ._3dface--back {
        background-image: url(../image/fotor_2023-1-23_19_27_28.png);
        background-size: auto 100%;
      }

      position: relative;
      z-index: 4;
      margin: auto;
      width: 550px;
      aspect-ratio: 1;
      border: 2px solid #00ddff;
      border-radius: 8px;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      // .left {
      //   transform: translatex(calc(-50% - 20px));
      //   .box {
      //     cursor: pointer;
      //     position: relative;
      //     padding: 10px 18px;
      //     font-size: 20px;
      //     width: fit-content;
      //     margin: 30px auto;
      //     border-radius: 5px;
      //     border: 1px solid red;
      //     transition: 0.4s ease-in-out;
      //     .title {
      //       position: relative;
      //       z-index: 5;
      //     }
      //     .childImage {
      //       position: absolute;
      //       width: 600px;
      //       height: auto;
      //       aspect-ratio: 1;
      //       img {
      //         width: 100%;
      //       }
      //     }
      //     &:hover {
      //       box-shadow: -6px 2px 14px 4px black;
      //       color: black;
      //       font-weight: 600;
      //       &:before {
      //         width: 100%;
      //       }
      //     }
      //     &:before {
      //       position: absolute;
      //       content: "";
      //       width: 0%;
      //       height: 100%;
      //       border-radius: 5px;

      //       transition: 0.4s ease-in-out;
      //       top: 0;
      //       left: 0;
      //       background-color: #00ddff;
      //     }
      //   }
      // }
      // .right {
      //   transform: translatex(calc(50% + 20px));
      //   .box {
      //     cursor: pointer;
      //     position: relative;
      //     padding: 10px 18px;
      //     font-size: 20px;
      //     width: fit-content;
      //     margin: 30px auto;
      //     border-radius: 5px;
      //     border: 1px solid red;
      //     overflow: hidden;
      //     transition: 0.4s ease-in-out;
      //     .title {
      //       position: relative;
      //       z-index: 5;
      //     }
      //     .childImage {
      //       position: absolute;
      //       width: 100%;
      //       height: 100%;
      //       img {
      //         width: 100%;
      //       }
      //     }
      //     &:hover {
      //       box-shadow: 6px 2px 14px 4px black;
      //       color: black;
      //       font-weight: 600;
      //       &:before {
      //         width: 100%;
      //       }
      //     }
      //     &:before {
      //       position: absolute;
      //       content: "";
      //       width: 0%;
      //       height: 100%;
      //       transition: 0.4s ease-in-out;
      //       top: 0;
      //       left: 0;
      //       background-color: #00ddffc4;
      //     }
      //   }
      // }
    }
    @media (max-width: 991px) {
      .content {
        width: 500px !important;
      }
    }
  }
  @media (max-width: 992px) {
    .servForMopile {
      display: block;
    }
    .servForComp {
      display: none;
    }
  }
  @media (max-width: 545px) {
    .servForMopile {
      .content {
        .box {
          width: calc(100%);
          max-width: 350px;
          .title {
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
}

// start loading
.loadingPage {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.8s ease-in-out;
  z-index: 2001;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 300px;
    max-width: 100%;
    margin-right: 60px;
  }
  @media (max-width: 400px) {
    img {
      margin-right: 0px;
    }
  }
  .loader {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 125px;
    height: 125px;
    margin: -100px 0 0 -45px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #00ddff;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    z-index: 1001;

    &::after {
      content: "";
      position: absolute;
      top: 15px;
      left: 15px;
      right: 15px;
      bottom: 15px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: #ffffff;
      animation: spin 1.5s linear infinite;
    }
    &:before {
      content: "";
      position: absolute;
      top: 5px;
      left: 5px;
      right: 5px;
      bottom: 5px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: #00ddff;
      animation: spin 3s linear infinite;
    }
  }
  .loader2 {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 120px;
    height: 120px;
    margin: -100px 0 0 -45px;
    border-radius: 50%;
    border: 3.5px solid transparent;
    border-top-color: #00ddff;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2.4s linear infinite;
    z-index: 1001;

    &::after {
      content: "";
      position: absolute;
      top: 15px;
      left: 15px;
      right: 15px;
      bottom: 15px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: #ffffff;
      animation: spin 1.5s linear infinite;
    }
    &:before {
      content: "";
      position: absolute;
      top: 5px;
      left: 5px;
      right: 5px;
      bottom: 5px;
      border-radius: 50%;
      border: 3.2px solid transparent;
      border-top-color: #00ddff;
      animation: spin 3s linear infinite;
    }
  }
  .loader3 {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100px;
    height: 100px;
    margin: -90px 0 0 -35px;
    border-radius: 50%;
    border: 3.5px solid transparent;
    border-top-color: #00ddff;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2.5s linear infinite;
    z-index: 1001;

    &::after {
      content: "";
      position: absolute;
      top: 15px;
      left: 15px;
      right: 15px;
      bottom: 15px;
      border-radius: 50%;
      border: 3.7px solid transparent;
      border-top-color: #ffffff;
      animation: spin 1.5s linear infinite;
    }
    &:before {
      content: "";
      position: absolute;
      top: 5px;
      left: 5px;
      right: 5px;
      bottom: 5px;
      border-radius: 50%;
      border: 3.2px solid transparent;
      border-top-color: #00ddff;
      animation: spin 3s linear infinite;
    }
  }

  .try {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 160px;
    height: 160px;
    margin: -83px 0 0 -71px;
    border-radius: 50%;
    border: solid transparent;
    border-bottom-color: #00ddff;
    z-index: 1001;
    animation: spin180 2.3s linear infinite;
  }
  .try2 {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 155px;
    height: 155px;
    margin: -83px 0 0 -71px;
    border-radius: 50%;
    border: solid transparent;
    border-bottom-color: #00ddff;
    z-index: 1001;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;

    margin: -83px 0 0 -71px;
    border-radius: 50%;
    border: solid transparent;
    border-bottom-color: #00ddff;
    z-index: 1001;
    animation: spin180 1.8s linear infinite;
  }
  .try3 {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -83px 0 0 -71px;
    border-radius: 50%;
    border: solid transparent;
    border-bottom-color: #00ddff;
    z-index: 1001;
    animation: spin180 2.5s linear infinite;
  }
  .try4 {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 165px;
    height: 165px;
    margin: -83px 0 0 -71px;
    border-radius: 50%;
    border: solid transparent;
    border-bottom-color: #00ddff;
    z-index: 1001;
    animation: spin180 3s linear infinite;
  }
  .try6 {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 165px;
    height: 165px;
    margin: -83px 0 0 -71px;
    border-radius: 50%;
    border: solid transparent;
    border-bottom-color: #00ddff;
    z-index: 1001;
    animation: spin180 2.5s linear infinite;
  }
  .try5 {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 145px;
    height: 145px;
    margin: -83px 0 0 -71px;
    border-radius: 50%;
    border: solid transparent;
    border-bottom-color: #00ddff;
    z-index: 1001;
    animation: spin180 2.8s linear infinite;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes spin180 {
  0% {
    transform: rotate(0deg);
    opacity: 0.2;
    border-width: 2px;
  }

  25% {
    opacity: 1;
  }

  50% {
    opacity: 0.3;
  }
  55% {
    opacity: 0;
  }

  80% {
    opacity: 0;
  }
  100% {
    transform: rotate(-360deg);
    opacity: 0.2;
    border-width: 2px;
  }
}

// strat resume
.resume {
  .dowload {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    border-radius: 6px;
    border: 1px solid #00ddff;
    overflow: hidden;
    width: fit-content;
    margin: auto;
    background-color: #999999;
    a {
      font-size: 21px;
      font-family: acumin-pro;
      padding: 8px 15px;
      font-weight: 500;
      transition: 0.4s;
      color: #001124;
      z-index: 3;
    }
    &:before {
      content: "";
      position: absolute;
      width: 100%;
      top: 0;
      transition: 0.4s;
      left: -100%;
      height: 100%;
      background-color: #1a1a1a;
    }
    &:hover {
      a {
        color: #00c3ff;
      }
      &:before {
        left: 0;
      }
    }
  }
  .container {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    > div {
      width: 50%;
      .head {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 15px;
        .title {
          font-size: 23px;
          font-weight: 600;
          letter-spacing: 0.6px;
          font-family: acumin-pro;
          text-transform: capitalize;
        }
        .icn {
          font-size: 25px;
          border: 1px solid #00ddff;
          border-radius: 6px;
          padding: 10px;
          box-shadow: 3px 3px 19px 1px #000000b8;
        }
      }
      .contentHH {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        gap: 10px;

        .startandend {
          width: 6px;
          height: 500px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          position: relative;
          background-color: rgb(17, 17, 17);
          box-shadow: 3px 0px 9px 1.5px rgba(19, 19, 19, 0.7);

          .start {
            position: absolute;
            top: 0;
            left: 0;
            margin-bottom: 15px;

            span {
              display: block;
              position: absolute;
              transform: rotate(45deg);

              top: 5px;
              left: -3px;
              width: 12px;
              height: 12px;
              &:before {
                content: "";
                position: absolute;
                top: 3.25px;
                left: 2.4px;
                width: 6px;
                height: 6px;
                background-color: #00ddff;
              }
              background-color: #242424;
            }
            .year {
              width: 96px;
              text-align: center;
              letter-spacing: 0.6px;

              font-size: 16px;
              font-weight: 600;
              position: absolute;
              left: 16px;
              top: -3px;

              max-width: fit-content;
              padding: 4px 8px;
              border: 1px solid #00ddff;
              box-shadow: 3px 3px 19px 1px #000000b8;
              border-radius: 6px;
            }
          }
          .end {
            position: absolute;
            bottom: 0;
            margin-top: 15px;
            span {
              display: block;
              position: absolute;
              transform: rotate(45deg);
              bottom: 5px;
              left: -6px;
              width: 12px;
              height: 12px;
              background-color: #242424;
              &:before {
                content: "";
                position: absolute;
                top: 3.25px;
                left: 3.2px;
                width: 6px;
                height: 6px;
                background-color: #00ddff;
              }
              background-color: #242424;
            }
            .year {
              &.until {
                width: 97px;
                max-width: 100px;
              }
              width: 96px;
              letter-spacing: 0.6px;
              font-size: 16px;
              text-align: center;
              font-weight: 600;
              position: absolute;
              left: 16px;
              bottom: -3px;

              max-width: fit-content;
              padding: 4px 8px;
              border: 1px solid #00ddff;
              box-shadow: 3px 3px 19px 1px #000000b8;
              border-radius: 6px;
            }
          }
        }
        @media (min-width: 768px) and (max-width: 991px) {
          .startandend {
            height: 570px;
          }
        }
        @media (min-width: 550px) and (max-width: 767px) {
          .startandend {
            height: 712px;
          }
        }
        @media (min-width: 450px) and (max-width: 550px) {
          .startandend {
            height: 510px;
          }
        }
        @media (min-width: 434px) and (max-width: 450px) {
          .startandend {
            height: 530px;
          }
        }
        @media (min-width: 400px) and (max-width: 434px) {
          .startandend {
            height: 570px;
          }
        }
        @media (min-width: 350px) and (max-width: 400px) {
          .startandend {
            height: 610px;
          }
        }
        @media (min-width: 310px) and (max-width: 350px) {
          .startandend {
            height: 640px;
          }
        }
        @media (min-width: 295px) and (max-width: 310px) {
          .startandend {
            height: 680px;
          }
        }
        @media (min-width: 280px) and (max-width: 295px) {
          .startandend {
            height: 730px;
          }
        }
        @media (min-width: 270px) and (max-width: 280px) {
          .startandend {
            height: 760px;
          }
        }
        .contentC {
          box-shadow: inset 1px 1px 7px 1px rgb(0 0 0 / 56%);
          .sec {
            position: relative;
            margin-bottom: 12px;

            .period {
              letter-spacing: 0.4px;

              margin-bottom: 8px;
              position: relative;
              margin-left: 18px;
              padding-top: 4px;
              font-size: 15px;
              font-weight: 600;
              span {
                display: block;
                position: absolute;
                top: calc(50% + 2.2px);
                transform: translateY(-50%) rotate(45deg);
                left: -18px;
                width: 12px;
                height: 12px;
                background-color: #242424;
                &:before {
                  content: "";
                  position: absolute;
                  top: 3.25px;
                  left: 3.2px;
                  width: 6px;
                  height: 6px;
                  background-color: #c5b1af;
                }
                background-color: #242424;
              }
            }
            .details {
              font-size: 15px;
              padding: 3px 18px;

              span {
                &::before {
                  content: "\f005";
                  font-family: "Font Awesome 6 Free";
                  font-weight: 900;
                  position: absolute;
                  top: 50%;
                  left: -14px;
                  transform: translatey(-50%);
                  font-size: 9px;
                  color: #c5b1af;
                }
                &::after {
                  content: "\f005";
                  font-family: "Font Awesome 6 Free";
                  font-weight: 900;
                  position: absolute;
                  color: #c5b1af;

                  top: 50%;
                  right: -14px;
                  transform: translatey(-50%);
                  font-size: 9px;
                }
                position: absolute;
                width: 90px;
                max-width: 75%;
                height: 2px;
                background-color: #000000;
                bottom: -10px;
                left: 50%;
                -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
              }
            }
            &:nth-child(5) {
              .details {
                span {
                  display: none;
                }
              }
            }
          }
          width: fit-content;
          border-radius: 6px;
          border: 1.5px solid #00ddff;
          padding: 12px;
          height: calc(100% - 50px);
        }
      }
    }
  }

  @media (max-width: 550px) {
    .container {
      flex-direction: column;
      > div {
        width: 100%;
      }
    }
  }
}

footer {
  #sky {
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: absolute;
    z-index: -1;
  }
  $pi: 3.14159265359;
  $_precision: 10;

  @function pow($base, $exp) {
    $value: $base;
    @if $exp > 1 {
      @for $i from 2 through $exp {
        $value: $value * $base;
      }
    }
    @if $exp < 1 {
      @for $i from 0 through -$exp {
        $value: $value / $base;
      }
    }
    @return $value;
  }

  @function fact($num) {
    $fact: 1;
    @if $num > 0 {
      @for $i from 1 through $num {
        $fact: $fact * $i;
      }
    }
    @return $fact;
  }

  @function _to_unitless_rad($angle) {
    @if unit($angle) == "deg" {
      $angle: $angle / 180deg * $pi;
    }
    @if unit($angle) == "rad" {
      $angle: $angle / 1rad;
    }
    @return $angle;
  }

  @function sin($angle) {
    $a: _to_unitless_rad($angle);
    $sin: $a;
    @for $n from 1 through $_precision {
      $sin: $sin + (pow(-1, $n) / fact(2 * $n + 1)) * pow($a, (2 * $n + 1));
    }
    @return $sin;
  }

  @function cos($angle) {
    $a: _to_unitless_rad($angle);
    $cos: 1;
    @for $n from 1 through $_precision {
      $cos: $cos + (pow(-1, $n) / fact(2 * $n)) * pow($a, 2 * $n);
    }
    @return $cos;
  }

  @function tan($angle) {
    @return sin($angle) / cos($angle);
  }

  @function reminder($origin, $mod) {
    $q: if(($origin / $mod) > 0, floor($origin / $mod), ceil($origin / $mod));
    @return $origin - ($mod * $q);
  }

  // html,
  // body {
  //   width: 100%;
  //   height: 100%;
  //   margin: 0;
  // }
  .contain-s {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  #sky {
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: absolute;
    z-index: 2;
  }

  .star {
    opacity: 0;
    position: absolute;
    background-color: white;
    box-shadow: 0px 0px 20px 0px white;
    border-radius: 100%;
    transform-origin: 0, 0;
    animation-timing-function: linear, linear !important;
    animation-iteration-count: infinite, infinite !important;
    animation-delay: -30s, -30s !important;
  }

  .size-1 {
    width: 2px;
    height: 2px;
  }

  .size-2 {
    width: 3px;
    height: 3px;
  }

  @for $i from 1 to 361 {
    $t: random(40000) + 5000;
    $angle: $i - reminder($i, 4);

    .axis-#{$i} {
      animation: anim#{$angle} #{$t}ms, fade#{random(10)} #{$t}ms;
    }
  }
  .axis-0,
  .axis-1,
  .axis-2,
  .axis-3 {
    display: none;
  }
  @for $i from 1 to 11 {
    $start: random(20);
    $end: $start + 10;
    @keyframes fade#{$i} {
      #{$start + "%"} {
        opacity: 0;
      }
      #{$end + "%"} {
        opacity: 1;
      }
      100% {
        opacity: 1;
      }
    }
  }

  @for $i from 1 to 91 {
    $a: $i * 4;
    @keyframes anim#{$a} {
      $angle: $pi * 2 * ($a / 360);
      $y: 80 * sin($angle);
      $x: 80 * cos($angle);
      100% {
        transform: translate(#{$x}vw, #{$y}vh);
      }
    }
  }
  overflow: hidden;
  position: relative;
  background-color: #1a1919;
  .section-divider {
    position: absolute;
    z-index: 4;
    background-color: #3d3d3d;
    top: 0;
    path {
      fill: #1a1919;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .top {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin-top: 35px;
      width: 100%;
      justify-content: space-around;
      .logo {
        img {
          width: 120px;
        }
      }
      .links {
        display: flex;
        gap: 8px;
        a {
          aspect-ratio: 1;
          width: 41px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 5px;
          border: 1px solid #00ddff;
          padding: 10px;
          background-color: #999999;
          color: #000;
          font-weight: 600;
          font-size: 19px;
          transition: 0.4s;
          overflow: hidden;
          position: relative;
          z-index: 5;
          &:before {
            content: "";
            position: absolute;
            width: 100%;
            top: 0;
            transition: 0.4s;
            left: -100%;
            height: 100%;
            z-index: -1;
            background-color: #1a1a1a;
          }
          &:hover {
            color: #00ddff;
            &:before {
              left: 0;
            }
          }
        }
      }
    }
    .allright {
      margin-bottom: 20px;
      margin-top: 20px;
      color: white;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;
      .year {
        margin-right: 5px;
        margin-left: 5px;
      }
      a {
        text-transform: capitalize;
        font-weight: 600;
        transition: 0.4s;
        margin-left: 3px;

        position: relative;
        &::before {
          content: "";
          width: 0;
          bottom: -5px;
          left: 50%;
          transform: translateX(-50%);
          position: absolute;
          height: 1px;
          transition: 0.4s;
          background-color: #00ddff;
        }
        &:hover {
          color: #00ddff;
          &::before {
            width: 90%;
          }
        }
      }
      @media (max-width: 341px) {
        a {
          margin-top: 5px;
        }
      }
    }
  }
}
